footer {
    display: flex;
    flex-direction: row;
    background-color: darkred;
    margin: 20rem 0px 10px 10px;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to left, white, red);
    grid-area: footer;
  }
  .ubicación {
    max-height: 14rem;
    max-width: 25rem;
    margin: 10px;
  }
  .bujanfooter {
    max-height: 15rem;
  }
  .abamafooter {
    max-height: 15rem;
  }
  .lotusfooter {
    max-height: 15rem;
  }