@import "../css/parciales/reset";
@import "../css/parciales/header";
@import "../css/parciales/bodyindex";
@import "../css/parciales/horarios";
@import "../css/parciales/footer";
@import "../css/parciales/multimedia";